.brandLanding {
    width: 90%;
    min-height: 450px;
    background-color: rgba(83, 153, 94, 0.274);
    margin: 0px auto;
    border-radius: 10px;
    padding-bottom: 20px;
}

.BrandSet {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.brandCard {
    height: 350px;
    margin-left: 20px;
    margin-top: 20px;
}

.brandImg {
    width: 200px;
    margin: 0px auto;
    margin-top: 10px;
}

.btnRibbon {
    width: 200px;
    height: 50px;
}