.sellerItemsPage {
    width: 90%;
    height: 580px;
    background-color: rgba(83, 153, 94, 0.274);
    margin: 0px auto;
    border-radius: 10px;
    margin-top: 20px;
}

.sellerItemRow{
    width: 90%;
    height: 60px;
    background-color: rgba(83, 153, 94, 0.274);
    margin: 0px auto;
    border-radius: 10px;
    padding-top:8px
    
}

.SearchForm{
    width:200px;
    position: relative;
}

.searchInput{
    width:400px; 
}